@import "colors";
@import "utils";
@import "fonts";
@import "normalize";
@import "typography";
@import "./components/components";

*,
*::before,
*::after {
    font-family: Onest;
    font-weight: 400;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    line-height: 1;
}

html {
    font-size: 10px;
    @media screen and (max-width: 1440px) {
        font-size: calc(100vw / 1440 * 10);
    }
    @media screen and (max-width: 568px) {
        font-size: calc(100vw / 375 * 10);
    }
}

.container {
    width: 144rem;
    max-width: 100%;
    padding: 0 1.5rem;
    margin: 0 auto;
    @media screen and (max-width: 568px) {
        width: 100%;
        padding: 0 1.6rem;
    }
}

body {
    &.not-scrolling {
        overflow: hidden;
    }
}

br[desktop] {
    @media screen and (max-width: 568px) {
        display: none;
    }
}

br[mobile] {
    @media screen and (min-width: 568px) {
        display: none;
    }
}

.spacing-block {
    width: 100%;
    height: 15rem;
    @media screen and (max-width: 568px) {
        height: 6rem;
    }
}

picture {
    display: flex;
}