@import "../../colors";

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem 4rem;
    border-radius: 1.5rem;
    transition: 0.2s background;
    @media screen and (max-width: 568px) {
        padding: 1.2rem 1.8rem;
        border-radius: 1rem;
    }
    &--white {
        background: $white-100;
        &:hover {
            background: $dark-blue;
            & > .button__text {
                color: $white-100;
            }
        }
        & > .button__text {
            color: $blue;
        }
    }
    &--blue {
        background: $blue;
        &:hover {
            background: $dark-blue;
        }
        & > .button__text {
            color: $white-100;
        }
    }
    &--border {
        padding: 1.8rem 3.8rem;
        background: transparent;
        border: 0.2rem solid $white-100;
        @media screen and (max-width: 568px) {
            padding: 1rem 1.6rem;
        }
        &:hover {
            background: $white-100;
            & > .button__text {
                color: $blue;
            }
        }
        & > .button__text {
            color: $white-100;
        }
    }
    &--without-icon {
        & > .button__icon {
            display: none;
        }
    }
    &__text {
        font-weight: 500;
        font-size: 1.6rem;
        line-height: 2.4rem;
        letter-spacing: 0.05rem;
        transition: 0.2s color;
    }
    &__icon {
        width: 2.4rem;
        height: 2.4rem;
    }
}
